.container {
  display: flex;
  height: 100vh; /* Assurez-vous que la hauteur est correcte */
}

.sidebar {
  width: 250px; /* Utilise une largeur fixe pour un meilleur alignement */
  background-color: #399cf3; /* Couleur de fond modifiée */
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Permet à l'ul de prendre tout l'espace vertical disponible */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Enlever le margin par défaut */
  display: flex;
  flex-direction: column;
  height: 100%; /* Prend toute la hauteur de la sidebar */
}

.sidebar ul li {
  margin-bottom: 10px; /* Espacement entre les options */
  flex: 1; /* Prend de l'espace disponible pour répartir les éléments */
  display: flex;
  align-items: center; /* Centre le contenu verticalement */
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: flex; /* Pour aligner les icônes et le texte */
  align-items: center;
  padding: 10px 0;
  font-size: 1.2rem; /* Augmentez la taille de la police ici */
  flex: 1; /* Prend de l'espace disponible pour répartir les éléments */
}

.sidebar ul li a fa-icon {
  margin-right: 10px; /* Espace entre l'icône et le texte */
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}

.content {
  flex: 1; /* Utilise tout l'espace restant */
  padding: 20px;
  background-color: #ecf0f1;
}
